<div id="main_banner_bg">    
</div>
<div id="main_banner">
  <div class="header">
    <h1> ListenToThis </h1>
    <h3> A new way to share and explore new music with spotify </h3>
    <!-- <a href="#" class="btn btn-lg btn-default">Default text here</a>
    <a href="#" class="btn btn-lg btn-default">Default text here</a> -->
  </div>
</div>
<div id="features">
  <div class="container">
    <div class="page-header">
      <h1>For Each Track Explore These Features</h1>
    </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-spotify fa-5x wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
                <h3>Spotify</h3>
                <p class="text-muted">Listen to the tracks using Spotify.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-user fa-5x wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                <h3>Artist Bio</h3>
                <p class="text-muted">Find out more about the artists from their bio.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-hand-paper-o fa-5x wow bounceIn text-primary" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"></i>
                <h3>BandsinTown</h3>
                <p class="text-muted">Find out Upcoming Concerts for the artist.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-diamond fa-5x wow bounceIn text-primary" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;"></i>
                <h3>Genius</h3>
                <p class="text-muted">Get lyrics from Genius.</p>
            </div>
        </div>
      </div>
    </div>
</div>
<div id="spotify_add">
  <div class="container">
    <div class="page-header">
      <h1>Add Playlists by following the steps below:</h1>
    </div>
    <div id="spotify_add_pic"></div>
    <div id="spotify_add_description">
      <p>
        Right-Click on a playlist in Spotify.<br>
        Select Copy Spotify URI.<br>
        Paste the link to add a playlist.  
      </p>
    </div>
  </div>
</div>



